# Quartus / ModelSim build artifacts
*.sdf
*.sdo
*.vo
*.vcd
*.mti
*.wlm
*.mpf
*.qpf
*.qsf
*.rpt
*.db
*.log
*.wlf
*.csd
*.bak
*.vstf
transcript
wlftcsqr1i
db/
incremental_db/
output_files/
simulation/
work/